## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Use")}</%block>

<div class="page-heading">
  <h1 class="en">Terms of Use</h1>
  <h1 class="he">תנאי שימוש</h1>
  <h1 class="ar">شروط الاستخدام</h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-12 md-col-3">
          <ul class="list-divided">
            <li class="item en"><a href="#general" class="brand-link">A. General</a></li>
            <li class="item he"><a href="#general" class="brand-link">א. כללי</a></li>
            <li class="item ar"><a href="#general" class="brand-link">أ. عام</a></li>

            <li class="item en"><a href="#copyright" class="brand-link">B. Copyrights</a></li>
            <li class="item he"><a href="#copyright" class="brand-link">ב. זכויות יוצרים</a></li>
            <li class="item ar"><a href="#copyright" class="brand-link">ب. حقوق التأليف  والنشر</a></li>

            <li class="item en"><a href="#links-websites" class="brand-link">C. Links to websites</a></li>
            <li class="item he"><a href="#links-websites" class="brand-link">ג. קישורים לאתרים</a></li>
            <li class="item ar"><a href="#links-websites" class="brand-link">ج. روابط للمواقعو</a></li>

            <li class="item en"><a href="#privacy" class="brand-link">D. Privacy</a></li>
            <li class="item he"><a href="#privacy" class="brand-link">ד. פרטיות</a></li>
            <li class="item ar"><a href="#privacy" class="brand-link">د. الخصوصية</a></li>

            <li class="item en"><a href="#publications" class="brand-link">E. Official publications of the State of Israel</a></li>
            <li class="item he"><a href="#publications" class="brand-link">ה. פרסומים רשמיים של מדינת ישראל</a></li>
            <li class="item ar"><a href="#publications" class="brand-link">ﮪ.  المطبوعات الرسمية لدولة إسرائيل</a></li>

            <li class="item en"><a href="#cookies" class="brand-link">F. Use of Cookie files</a></li>
            <li class="item he"><a href="#cookies" class="brand-link">שימוש בקבצי Cookies .ו</a></li>
            <li class="item ar"><a href="#cookies" class="brand-link">و "استخدام ملفات Cookies"</a></li>

            <li class="item en"><a href="#warranty" class="brand-link">G. Warranty</a></li>
            <li class="item he"><a href="#warranty" class="brand-link">ז. אחריות</a></li>
            <li class="item ar"><a href="#warranty" class="brand-link">ز. مسؤولية</a></li>

            <li class="item en"><a href="#queries" class="brand-link">H. Applications regarding the Website or Service</a></li>
            <li class="item he"><a href="#queries" class="brand-link">ח. פניות בנוגע לאתר או השירות</a></li>
            <li class="item ar"><a href="#queries" class="brand-link">ح. الاستفسارات المتعلقة بالموقع</a></li>


          </ul>
        </div>
        <div class="col col-12 sm-col-12 md-col-9">
          <div id="general">
            <h2 class="en">A. General</h2>
            <h2 class="he">א. כללי</h2>
            <h2 class="ar">أ. عام</h2>

            <p class="en">Headquarters for the National Digital Israel Initiative in Ministry of Social Equality of the State of Israel (hereinafter, "the Ministry") offers the information and online services in this Internet site (hereinafter, "the Service" or "the Website") subject to the following terms:</p>
            <p class="he">מטה המיזם הלאומי "ישראל דיגיטלית" במשרד לשוויון חברתי, מדינת ישראל (להלן: "המשרד") מציע את המידע והשירותים המקוונים באתר אינטרנט זה (להלן: "השירות" או "האתר") בכפוף לתנאים הבאים:</p>
            <p class="ar">أ. عام   مقر المشروع القومي "إسرائيل الرقمية" التابع لوزارة المساواة الاجتماعية , دولة إسرائيل (فيما يلي: "الوزارة") يقدم المعلومات والخدمات عبر الإنترنت على هذا الموقع (فيما يلي: "الخدمة" أو "الموقع") وفقا للشروط التالية</p>

            <p class="en">The meaning of the terms "User" is any person who makes contact and/or communicates with the Website.</p>
            <p class="he">המונח "משתמש" להלן משמעו כל אדם אשר יוצר קשר ו/או מתקשר עם האתר.</p>
            <p class="ar"> يعني مصطلح "المستخدم" أدناه الشخص الذي يقوم بالاتصال و / أو التواصل مع الموقع</p>


            <p class="en">The information in the Website is formulated in masculine form for convenience purposes only and refer to men and women alike.</p>
            <p class="he">המידע באתר מנוסח בלשון זכר לצורכי נוחות בלבד, ומתייחס לגברים ולנשים כאחד.</p>
            <p class="ar"> تم صياغة المعلومات على الموقع في صيغة المذكر للراحة فقط, ويشير لكل من الرجال والنساء على حد سواء</p>

            <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
          </div>

          <div id="copyright">
            <h2 class="en">B. Copyrights</h2>
            <h2 class="he">ב. זכויות יוצרים</h2>
            <h2 class="ar">ب. حقوق التأليف  والنشر</h2>


            <div class="en">
              <p>Following the copyrights laws applicable in Israel and international conventions, the copyrights in the Ministry's publications, including those published in this Service are the property of the State of Israel. These copyrights command, among other things, text, pictures, drawings, maps, sound clips, video clips, graphics and software applications (hereinafter, "the Privileged Material"), unless explicitly determined otherwise that the copyrights in the Privileged Material are the property of another party. The copyrights are the property of the Ministry or of third parties and is reserved to them.</p>
              <p>The User may perform "fair use" of the Privileged Material in accordance with the rules set by the law. Fair use includes a reasonable quote out of the Privileged Material. the said quoter should mention the source of the quote, whether it is the Ministry or another party. The User may not make use, within the Privileged Material, of any falsification, vitiation or other change or any action that may be a degradation in relation to the Privileged Material that may slight or dishonor the owner of the copyrights in it. Subject to copyright laws, the User may not copy, redistribute, retransmit, or publish Privileged Material without the Ministry's advance written consent.</p>
            </div>

            <div class="he">
              <p>לפי דיני זכויות היוצרים התקפים בישראל, ועל פי אמנות בין-לאומיות, זכויות היוצרים בפרסומי המשרד, כולל אלו המתפרסמים בשירות זה, שייכות למדינת ישראל. זכויות יוצרים אלו חולשות, בין השאר, על טקסט, תמונות, איורים, מפות, קטעי צליל, קטעי וידיאו, גרפיקה
ויישומי תוכנה
(להלן: "החומר המוגן"), אלא אם כן נקבע באופן מפורש כי זכויות היוצרים בחומר המוגן שייכות לגורם אחר. זכות היוצרים מצויה בבעלות המשרד או בבעלותם של צדדים שלישיים, ושמורה להם.</p>
              <p>המשתמש רשאי לעשות "שימוש הוגן" בחומר המוגן, הכל בהתאם לכללים הקבועים בדין. שימוש הוגן כולל ציטוט סביר מתוך החומר המוגן. המצטט כאמור חייב לציין את המקור לציטוט, בין אם הוא המשרד ובין אם הוא גורם אחר. אסור למשתמש לעשות בחומר המוגן כל
סילוף, פגימה או שינוי אחר, או כל פעולה שיש בה משום הפחתת ערך ביחס לחומר המוגן, העלולה לפגוע בכבודו או בשמו של בעל זכויות היוצרים בו. בכפוף לדיני זכויות יוצרים, אסור למשתמש להעתיק, להפיץ מחדש, לשדר מחדש או לפרסם חומר מוגן, ללא הסכמה מראש
ובכתב מאת המשרד.</p>
            </div>

            <div class="ar">
              <p>وفقًا لقوانين حق المؤلف في إسرائيل ووفقًا للاتفاقيات الدولية , فإن حقوق النشر في منشورات الوزارة , بما في ذلك تلك المنشورة في هذه الخدمة, تابعة لدولة إسرائيل. وتنطبق هذه الحقوق, من جملة أمور أخرى, على النصوص والصور والرسوم التوضيحية والخرائط ومقاطع الصوت ومقاطع الفيديو والرسومات وتطبيقات البرامج (فيما يلي: "المادة المحمية") , ما لم ينص صراحة على أن حق المؤلف في المادة المحمية ينتمي إلى طرف آخر. حقوق الطبع والنشر مملوكة للوزارة أو مملوكة لأطراف ثالثة , وهي محفوظة لهم.</p>
              <p> يحق للمستخدم "الاستخدام العادل" للمواد المحمية , كل ذلك وفقًا للقواعد المنصوص عليها في القانون. يتضمن الاستخدام العادل اقتباسًا معقولًا من المادة المحمية. يجب على الشخص المقتبس على النحو المذكور أن يذكر مصدر الاقتباس , سواء كانت الوزارة أو كيان آخر. يحظر على المستخدم استخدام المواد المحمية التشويه أو التحريف أو التغيير أو أي تغيير آخر, أو أي إجراء ذو قيمة فيما يتعلق بالمواد المحمية, وهو ما قد يضر بشرف أو اسم صاحب حقوق الطبع والنشر به. وفقًا لقانون حقوق الطبع والنشر, لا يحق للمستخدم نسخ أو إعادة توزيع أو إعادة إرسال أو نشر مواد محمية بدون موافقة مسبقة وكتابيا من قبل الوزارة.</p>
            </div>
            <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
          </div>

          <div id="links-websites">
            <h2 id="" class="en">C. Links to websites</h2>
            <h2 id="" class="he">ג. קישורים לאתרים</h2>
            <h2 id="" class="ar">ج. روابط للمواقعو</h2>

            <div class="en">
<p>There are links in this site, referring to external websites.  These websites are not under the Ministry's control and the Ministry cannot be held accountable to the content of the material found in the foregoing websites. These websites are exclusively intended for the convenience of Users of the Website.. In addition, the Ministry cannot be held liable, directly or indirectly, to the content of the websites and it cannot be held accountable in any way whatsoever to flaws and/or defects and/or errors of any kind in the information appearing in those websites. The Ministry will not be held responsible to software and other damages if caused due to use of the websites. In other words, there are no legal or commercial relations between the Ministry and the owners of the linked websites.</p>
<p>At the time of editing the links to the external websites in hte Ministry's Website, it was found that the information complies with the Website's general objectives and the actual links are in order at the time. However, it is possible that with time, changes are made to the linked website, hence links to external websites should not be construed as providing authorization, certification, recommendation or preference by the State or the Ministry to the linked websites of their operators, owners or creators, including to documents and any other material contained in them or to products presented in them.</p>
<p>If a user in a website believes a linked site or material in it are not appropriate or if it found that the link is no proper or in any other application relevant to this Service, he is required to report this to the Website staff by e-mail to address <a href="mailto:support@campus.gov.il" class="brand-link">support@campus.gov.il</a>.</p>
            </div>

            <div class="he">
<p>באתר זה נמצאים קישורים המפנים לאתרים חיצוניים, אתרים אלה אינם בשליטת המשרד ואין המשרד אחראי לתוכן החומר הנמצא באתרים האמורים. האתרים נועדו לנוחיות המשתמשים באתר בלבד. כמו כן אין למשרד אחריות עקיפה או ישירה לאמור באתרים, ואין המשרד אחראי
בצורה כלשהי לפגמים ו/או ליקויים ו/או טעויות מכל סוג, במידע שמופיע באותם אתרים. המשרד לא יישא באחריות בגין נזקי תכנה ונזקים אחרים אם יגרמו כתוצאה מהשימוש באתרים. הווה אומר כי אין בין המשרד לבין בעלי האתרים המקושרים יחסים משפטיים או מסחריים.</p>

<p>בעת עריכת הקישורים לאתרים החיצוניים באתר המשרד, נמצא כי המידע הינו תואם את מטרותיו הכלליות של האתר וכי הקישורים עצמם הינם תקינים לאותה עת. ואולם, יתכן שבמהלך הזמן חלו שינויים באתר המקושר ולכן אין לפרש קישורים לאתרים חיצוניים כמתן גושפנקה,
אישור, המלצה או העדפה על ידי המדינה או המשרד לאתרים המקושרים או למפעיליהם, בעליהם או יוצריהם, לרבות למסמכים ולכל חומר אחר הנמצאים בהם, או למוצרים המוצגים בהם.</p>

<p>אם משתמש באתר סבור שאתר מקושר או החומר המצוי בו אינם מתאימים, או אם נמצא כי הקישור אינו תקין, או בכל פנייה נוספת הרלוונטית לשירות זה הוא מתבקש להודיע על כך לצוות האתר בכתובת הדוא"ל <a href="mailto:support@campus.gov.il" class="brand-link">support@campus.gov.il</a>.</p>

            </div>


            <div class="ar">
              <p>اقع يحتوي هذا الموقع على روابط تشير إلى مواقع خارجية , وهذه المواقع لا تخضع لرقابة الوزارة والوزارة غير مسؤولة عن محتويات الموجودة فب المواقع المذكورة. تم تصميم المواقع لراحة مستخدمي الموقع فقط. كما لا تتحمل الوزارة مسؤولية مباشرة أو غير مباشرة عن محتويات المواقع,   والوزارة غير مسؤولة بأي شكل من الأشكال, عن عيوب و/ أو تشويه و/ أو أخطاء من أي نوع, في المعلومات التي تظهر على تلك المواقع. لا تتحمل الوزارة مسؤولية أي تلف في البرامج أو غيرها من الأضرار إذا كان ذلك بسبب استخدام المواقع. وهذا يعني على أنه لا توجد علاقة قانونية أو تجارية. بين الوزارة وأصحاب المواقع المرتبطة.</p>
              <p>عند تحرير الروابط إلى المواقع الخارجية على موقع الوزارة , تبين أن المعلومات تتفق مع الأهداف العامة للموقع وأن الروابط نفسها صالحة في ذلك الوقت. ومع ذلك, فمن الممكن مع مرور الوقت أن تحدث تغييرات في الموقع المرتبط , وبالتالي لا يجب تفسير الروابط إلى مواقع خارجية على أنها تمنح, موافقة أو توصية أو تفضيل من قبل الدولة أو مكتب المواقع المرتبطة أو مشغليها أو أصحابها أو منشئيها , بما في ذلك المستندات وأي مواد أخرى واردة فيها, أو المنتجات المقدمة فيها.</p>
              <p>إذا اعتقد مستخدم الموقع أن الموقع المرتبط أو المادة الموجودة فيه غير مناسبة, أو إذا كان الرابط غير صالح, أو أي طلب إضافي ذي صلة بهذه الخدمة, مطلوب منه إبلاغ موظفي الموقع على عنوان البريد الإلكتروني  <a href="mailto:support@campus.gov.il" class="brand-link">support@campus.gov.il</a>.</p>
            </div>
            <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
          </div>


          <div id="privacy">
            <h2 id="" class="en general">D. Privacy</h2>
            <h2 id="" class="he">פרטיות</h2>
            <h2 id="" class="ar">الخصوصية</h2>


            <p class="en">In order to be registered and receive the Services offered by this Website, we will issue you a personal username and password.</p>
            <p class="he">על מנת להירשם ולקבל את השירותים המוצעים באתר זה, ננפיק לכם שם משתמש וססמה אישיים.</p>
            <p class="ar">للتسجيل في الخدمات المقدمة على هذا الموقع, سوف نصدر لك اسم المستخدم وكلمة المرور الخاصة بك.</p>

            <p class="en">Pay attention that upon entry into this Website, you confirm that you understand and unequivocally confirm collection, use, disclosure and saving of your personal details as specified above in Israel, Ireland and other countries and territories for the purposes specified in this privacy policy document. For the avoidance of doubt, it is hereby clarified that any confirmation pertaining to the right to transfer information defined hereunder as "Student Data" also includes your approval to transfer the relevant personal data to a jurisdiction that may provide a different level of privacy protection than that existing in your country.</p>
            <p class="he">יש לשים לב כי בעת הכניסה לאתר זה, הנכם מאשרים שאתם מבינים ומאשרים באופן חד משמעי את איסוף, שימוש, גילוי ושמירת פרטיכם האישיים, כמפורט להלן, בישראל, באירלנד ובמדינות וטריטוריות אחרות, לצרכים המפורטים במסמך מדיניות פרטיות זה. למען הסר ספק,
מובהר כי כל אישור הנוגע לזכות להעברת מידע המוגדר להלן כ-"נתוני הלומד" כוללת גם את אישורכם להעברת המידע האישי הרלוונטי לתחום השיפוט שעשוי לספק רמה שונה של הגנת פרטיות מזו הקיימת במדינתכם.</p>
            <p class="ar">يرجى ملاحظة أنه عند تسجيل الدخول الى هذا الموقع , فأنت تؤكد أنك تفهم وتؤكد بشكل قاطع على جمع بياناتك الشخصية واستخدامها والإفصاح عنها وحفظها , كما هو موضح أدناه , في إسرائيل وأيرلندا والدول والأقاليم الأخرى للأغراض المنصوص عليها في سياسة الخصوصية هذه. لتجنب الشك, يتم بموجب هذا توضيح أن أي ترخيص يتعلق بالحق في نقل المعلومات المحددة أدناه "بيانات المتعلم" يتضمن أيضًا موافقتك على نقل المعلومات الشخصية ذات الصلة إلى الاختصاص القضائي الذي قد يوفر مستوى مختلفًا من حماية الخصوصية أكثر من ذلك الموجود في دولتك.</p>


            <p class="en">If your disagree to these terms, please refrain from surfing to this Website, reviewing any of its content or registering to it. If you choose to refrain from providing us with a certain information that is required for provision of certain services offered by our Website, it is possible that you may not be able to create a user account and we may not be capable of providing you with these services.</p>
            <p class="he">אם אינכם מסכימים לתנאים אלה, אנא הימנעו מלגשת לאתר, לעיין באלו מתכניו או להירשם אליו. אם אתם בוחרים שלא לספק לנו מידע מסוים הנדרש לאספקת שירותים מסוימים שאתרנו מציע, יתכן שלא תוכלו ליצור חשבון משתמש, ויתכן שלא נוכל לספק לכם את השירותים הללו.</p>
            <p class="ar">إذا كنت لا توافق على هذه الشروط , يرجى عدم الوصول إلى الموقع , أو مراجعة أو الاشتراك في أي من محتوياته. 
إذا اخترت عدم تزويدنا بمعلومات معينة مطلوبة لتوفير خدمات معينة يقدمها موقعنا, فقد لا تتمكن من إنشاء حساب مستخدم,  وقد لا نكون 
قادرين على توفير هذه الخدمات لك</p>


            <p class="en">We will require that you provide us with the following information about you (Student Data):</p>
            <p class="he">נזדקק שתספקו לנו את המידע להלן אודותיכם ("נתוני לומד"):</p>
            <p class="ar"> سنحتاج منك لتزويدنا بالمعلومات التالية عنك ("بيانات الطالب"):</p>

            <ol class="list-ordered en">
              <li class="item">Full name</li>
              <li class="item">ID No.</li>
              <li class="item">e-mail address</li>
              <li class="item">Organization name</li>
              <li class="item">Name of the course to which you are registering.</li>
            </ol>

            <ol class="list-ordered he">
              <li class="item">שם מלא</li>
              <li class="item">מספר זהות</li>
              <li class="item">כתובת דוא"ל</li>
              <li class="item">שם ארגון</li>
              <li class="item">שם הקורס שהנכם נרשמים אליו.</li>
            </ol>

            <ol class="list-ordered ar">
              <li class="item"> الاسم الكامل</li>
              <li class="item"> رقم الهوية</li>
              <li class="item"> عنوان البريد الألكتروني</li>
              <li class="item"> اسم المنظمة </li>
              <li class="item"> اسم الدورة التي تسجل بها.</li>
            </ol>

            <p class="en">We gather the Student Data upon your registration to the Website for the purpose of receiving a user account, while participating in on-line courses, registering to get a certificate for a payment, send us an e-mail and/or take part in our public forums. We also gather certain useful information regarding the student performance and learning patterns. In addition, we monitor information indicating to, among other things, which of the Website's pages you have visited, the order of your visits to them, the time of these visits as well as which hyperlinks and other interface controllers you have used.</p>
            <p class="he">אנו אוספים את נתוני הלומד במעמד הרשמתכםלאתר לצורך קבלתחשבון משתמש, כאשר הנכם משתתפים בקורסים מקוונים, נרשמים לקבלת תעודה בתשלום, שולחים לנו הודעות דוא"ל ו/או משתתפים בפורומים הציבוריים שלנו. אנו גם אוספים מידע שימושי מסוים על ביצועי תלמידים ודפוסי למידה. בנוסף, אנחנו עוקבים אחר מידע המעיד, בין היתר, באלו מדפי האתר ביקרתם, הסדר בו ביקרתם בהם, מתי ביקרתם בהם ובאילו היפר-קישורים ובקרי ממשק אחרים השתמשתם.</p>
            <p class="ar">سنقوم بجمع بيانات الطالب عند التسجيل للحصول على حساب مستخدم عند المشاركة في الدورات التدريبية عبر الإنترنت , والاشتراك في شهادة مدفوعة الأجر, وإرسال رسائل البريد الإلكتروني لنا  و / أو المشاركة في المنتديات العامة لدينا. كما نقوم بجمع بعض المعلومات المفيدة حول أداء الطلاب وأنماط التعلم. بالإضافة إلى ذلك, نحن نراقب المعلومات التي تشير , ضمن أشياء أخرى , إلى صفحات الموقع الذي قمت بزيارته , والترتيب الذي قمت بزيارته فيه, وزيارة الموقع , وما هي الروابط التشعبية والواجهات الأخرى التي تستخدمها.</p>


            <p class="en">We may document the IP address, operating system and web browser software used by any user of the Website, and we can identify from the IP address the Internet provider and geographical location of the User's connection point. An assortment of network analysis tools are used in gathering this information. Some of the information is gathered by Cookie files (small text files placed in your computer and record information about you to which the Website can access.) You are supposed to have the capability to control the way your web browser accept Cookie files, if at all. Most wen browsers provide instructions in hte Help area in the toolbar how to reset the browser so it reject Cookie files. If you choose to reject our Cookie files, many functionalities and elements of the Website's accessories may not be operating properly.</p>
            <p class="he">אנו עשויים לתעד את כתובת ה-IP, מערכת ההפעלה ותוכנת הדפדפן המשמשים כל משתמש באתר, וביכולתנו לזהות מכתובת ה-IP את ספק האינטרנט והמיקום הגאוגרפי של נקודת ההתקשרות של המשתמש. מבחר כלי אנליטיקת רשת משמשים לאיסוף מידע זה. חלק מהמידע נאסף
באמצעות קבי Cookies (קבצי טקסט קטנים המוכנסים למחשב שלכם ומתעדים מידע עליכם, שאליו האתר יכול לגשת). אמורה להיות לכם היכולת לשלוט באופן שבו דפדפן האינטרנט שלכם מקבל קבצי Cookies, אם בכלל יקבל אותם. מרבית הדפדפנים מספקים הוראות כיצד
לאפס את הדפדפן כך שיידחה קבצי Cookies, באיזור ה"עזרה" בסרגל הכלים. אם תדחו את קבצי ה-Cookies שלנו, תפקודים ואלמנטים רבים של כלי עזר באתר עשויים שלא לעבוד כראוי.</p>
            <p class="ar">قد نقوم بتسجيل عنوان الخاص بك، وتشغيل البرمجيات نظام IP, المتصفح الذي تستخدمه من قبل كل مستخدم على الموقع, ويمكننا تحديد مزود IP على الانترنت والموقع الجغرافي لنقطة اتصال المستخدم.  يتم استخدام مجموعة متنوعة من أدوات تحليل الشبكة لجمع هذه المعلومات. يتم جمع بعض المعلومات استخدام ملفات  Cookies(باستخدام جمل نصية صغيرة يتم إدخالها في جهاز الكمبيوتر الخاص بك وتوثيق معلومات عنك, والتي يمكن للموقع الوصول إليها). يجب أن تكون لديك القدرة على التحكم في كيفية استخدام متصفح الويب الخاص بك, إذا سبق لك الحصول على ملفات  Cookies , فسيحصل عليها. تقدم معظم المتصفحات تعليمات حول كيفية القيام بذلك إعادة تعيين المتصفح الخاص بك ليتم رفضه في منطقة "المساعدة", على شريط أدوات ملفات  Cookies. إذا رفضت ملفات  Cookies الخاصة بنا, فقد لا تعمل العديد من الوظائف والأدوات المساعدة على الموقع بشكل صحيح.</p>


            <p class="en">Among other things, we, educational institutes and other bodies )hereinafter, "the Educational Institutes", providing courses by way of the Website, may use information about you gathered from teh Website (including Student Data) in the following cases. In case we share or deliver your Student Data: (1) third parties that receive the Student Data are required to handle these data in a confedential way and employ security means sufficient for protection of the information from loss, improper use, unauthorized access of exposure, alteration and destruction; (2) we will disclose and share the Student Data with a third party only when requested by a third party for execution of either of the objectives declared to you upon gathering of the information.</p>
            <p class="he">בין היתר, אנו, מוסדות חינוך וגופים אחרים (להלן:"מוסדות החינוך"), המספקים קורסים באמצעות האתר, עשויים להשתמש במידע עליכם שייאסף מן האתר (כולל נתוני הלומד) במקרים שלהלן. במקרה שנשתף או נמסור את נתוני הלומד אודותיך: (1) נדרשים צדדים שלישיים
המקבלים את נתוני הלומד לנהוג בנתונים אלו באופן חסוי  ולהפעיל אמצעי אבטחה מספקים לשם ההגנה על המידע מאובדן, שימוש בלתי הולם, גישה בלתי מורשה או חשיפה, שינוי והשמדה; (2) אנו נחשוף ונשתף את נתוני הלומד בפני צד ג' רק כשהדבר יידרש על ידי צד ג'
לשם ביצוע אחת המטרות שהוצהרו בפניך, בעת איסוף המידע.</p>
            <p class="ar">من بين أمور أخرى, يحق لنا , نحن المؤسسات التعليمية والهيئات الأخرى ("المؤسسات التعليمية") , التي تقدم دورات عبر الموقع , استخدام المعلومات التي يتم جمعها على الموقع (بما في ذلك بيانات المتعلم) في الحالات التالية. في حالة قيامنا بمشاركة أو الكشف عن بيانات المتعلم عنك:

(1) يجب على الأطراف الثالثة التي تتلقى بيانات المتعلم معالجة هذه البيانات بشكل سري واستخدام تدابير أمنية مناسبة لحماية المعلومات من الضياع , الاستخدام غير السليم , والوصول غير المصرح به أو الإفصاح, والتغيير والتدمير; 
(2) سنقوم بكشف بيانات المتعلم ومشاركتها لطرف ثالث فقط عند طلب أطراف ثالثة, لغرض القيام بأحد الأغراض المعلنة لك, عند جمع المعلومات.</p>

            <ul class="list-bulleted en">
              <li class="item">To enable us and the Educational Institutes to provide, manage and improve the courses.</li>
              <li class="item">To assist us and the Educational Institutes to better the Website's value proposal, either individually (e.g. by a course staff when working with a student), or collectively and male the experience personalized and for the purpose of evaluating the access to and use of the Website as well as its impact on the Israeli and international educational community.</li>
              <li class="item">For scientific research, especially, e.g. in area of cognitive studies and pedagogy.</li>
              <li class="item">For purposes for which you have explicitly provided the information, such as in response to a specific question or to grant you access to content of a specific course and/or courses you choose.</li>
              <li class="item">In order to perform an individual and general tracking of attendence, progress and completion of an on-line course, and for statistical analysis of the student performance and learning method.</li>
              <li class="item">To monitor and identify violations of the code of honor or service terms, as well as misuse or possible abuse of the Website.</li>
              <li class="item">To publish gathered information, excluding personal information, that pertaining to access to, use of or influence of the Website, as well as to student performance.</li>
              <li class="item">To send you updates regarding on-line courses we or educational institutes offer or about other events.</li>
              <li class="item">To archive this information and/or use it in future communications with you.</li>
              <li class="item">To preserve and improve the performance of the Website, software, systems and network and their security.</li>
              <li class="item">For the purposes described in various places in this privacy policy (including, e.g., sharing with a third party.)</li>
              <li class="item">For the purpose of verifying your identity upon registration for a paid certificate.</li>
              <li class="item">To process applications for refund, when applicable.</li>
            </ul>

            <ul class="list-bulleted he">
              <li class="item">על מנת לאפשר לנו ולמוסדות החינוך לספק את הקורסים, לנהל אותם ולשפר אותם.</li>
              <li class="item">על מנת לסייע לנו ולמוסדות החינוך לשפר את הצעת הערך של האתר, הן באופן פרטני (למשל על ידי צוות קורס בעת העבודה עם תלמיד), והן באופן כולל, ולהפוך את החוויה ליותר מותאמת אישית ולצורך ביצוע הערכה בדבר  הגישה לאתר השימוש בו, ואת השפעתו על</li>
              <li class="item">ילת החינוך הישראלית וקהילת החינוך הבינלאומית.</li>
              <li class="item">לצרכי מחקר מדעי, ובייחוד, לדוגמה, בתחומים של מדע הקוגניציה וחינוך.</li>
              <li class="item">למטרות שלשמן סיפקתם את המידע במפורש, למשל, למענה על שאלה מסוימת או כדי לאפשר לכם גישה לתוכן הקורס המסוים ו/או שירותי הקורס המסוימים שתבחרו.</li>
              <li class="item">על מנת לנהל מעקב פרטני וכולל של נוכחות, התקדמות והשלמתו של קורס מקוון, ולשם ניתוח הסטטיסטיקה על ביצועי תלמידים ואופן הלימוד של תלמידים.</li>
              <li class="item">על מנת לנטר ולזהות הפרות של קוד הכבוד או של תנאי השירות, כמו גם ניצול לרעה או ניצול אפשרי לרעה של האתר.</li>
              <li class="item">על מנת לפרסם מידע שנאסף, אך לא מידע אישי, הנוגע לגישה לאתר, לשימוש בו, להשפעתו ולביצועי התלמידים.</li>
              <li class="item">על מנת לשלוח לכם עדכונים על קורסים מקוונים שאנו או מוסדות חינוך מציעים, או על אירועים אחרים.</li>
              <li class="item">על מנת לארכב מידע זה ו/או להשתמש בו בתקשורת עתידית עמכם.</li>
              <li class="item">על מנת לשמר ולשפר את תפקוד האתר, את התוכנה, המערכות והרשת שלנו, ואת אבטחתם.</li>
              <li class="item">למטרות המתוארות במקומות שונים במדיניות הפרטיות הזו (כולל, לדוגמה, שיתוף עם צד ג').</li>
              <li class="item">לצורך אימות זהותך בעת ההרשמה לתעודה בתשלום.</li>
              <li class="item">על מנת לעבד בקשות החזר כספי, ככל שהדבר ישים.</li>
            </ul>
            <ul class="list-bulleted ar">
              <li class="item">  من أجل تمكيننا والمؤسسات التعليمية من توفير الدورات, وإدارتها وتحسينها.</li>
              <li class="item"> من أجل مساعدتنا والمؤسسات التعليمية على تحسين القيمة المقترحة للموقع, سواء على المستوى الفردي (على سبيل المثال, من خلال فريق العمل أثناء العمل مع أحد الطلاب), ولجعل التجربة أكثر خصوصية وتقييم إمكانية الوصول إلى موقع استخدامها وأثره على مجتمع التعليم الإسرائيلي والمجتمع التعليمي الدولي.</li>
              <li class="item">  لأغراض البحث العلمي, بشكل خاص, على سبيل المثال, في مجالات العلوم المعرفية والتعليم.</li>
              <li class="item">   للأغراض التي قدمت لها المعلومات بشكل صريح , على سبيل المثال, للإجابة على سؤال معين أو للسماح لك بالوصول إلى محتوى الدورة التدريبية المحددة و/ أو خدمات الدورة التدريبية التي تختارها.</li>
              <li class="item">  من أجل مراقبة الحضور الفردي والشامل, والتقدم وإكمال دورة عبر الإنترنت, وتحليل الإحصاءات حول أداء الطلاب وكيفية تعلم الطلاب.</li>
              <li class="item">  من أجل مراقبة وتحديد انتهاكات قانون الشرف أو شروط الخدمة, وكذلك إساءة استخدام أو سوء استخدام الموقع. </li>
              <li class="item">  من أجل نشر المعلومات التي تم جمعها, ولكن ليس المعلومات الشخصية المتعلقة بالوصول إلى الموقع , واستخدامه , وتأثير الطلاب وأداءهم. </li>
              <li class="item">  لكي نرسل إليك تحديثات حول الدورات الدراسية عبر الإنترنت التي نقدمها نحن أو المؤسسات التعليمية, أو الأحداث الأخرى.</li>
              <li class="item">   من أجل أرشفة هذه المعلومات و/ أو استخدامها في التواصل المستقبلي معك.</li>
              <li class="item">  من أجل الحفاظ على وتحسين أداء الموقع , وبرامجنا, وأنظمتنا وشبكاتنا, وتأمينها.</li>
              <li class="item"> للأغراض المذكورة في أماكن مختلفة في هذه الخصوصية (بما في ذلك، على سبيل المثال, ومشاركة طرف ثالثة).</li>
              <li class="item">  للتحقق من هويتك عند التسجيل للحصول على شهادة مدفوعة.</li>
              <li class="item">  من أجل معالجة طلبات استرداد الأموال, إلى حد المعمول به.   </li>
            </ul>


            <p class="en">This Website may include connections to websites operated by a third party, including other content and certain service providers, such as the providers that process payments on our behalf. These other websites are not under our control and you agree and acknowledge that we cannot be held responsible to the gathering of your personal information and use of it as part of your visit to these websites, unless mentioned otherwise in this privacy policy. We advise you to use caution when being redirected to third party websites from this Website and review the privacy policy of each and every website you visit and use.</p>
            <p class="he">אתר זה עשוי להכיל קישורים לאתרי אינטרנט המתופעלים על ידי צד ג', לרבות ספקי תוכן אחרים וכן ספקי שירות מסוימים, כגון אותם ספקים המעבדים את התשלומים מטעמנו. אתרי אינטרנט אחרים אלה אינם נמצאים תחת שליטתנו, והנכם מסכימים ומכירים בכך שאיננו אחראים
לאיסוף המידע האישי שלכם והשימוש בו במסגרת ביקורכם באתרים אלה, אלא אם מצוין אחרת במדיניות פרטיות זו. אנו ממליצים לכם להיזהר כשאתם מופנים לאתרי צד ג' מתוך אתר זה, ולעיין במדיניות הפרטיות של כל אתר ואתר שאתם מבקרים בו ומשתמשים בו.</p>
            <p class="ar">قد يحتوي هذا الموقع على روابط لمواقع تديرها أطراف ثالثة, بما في ذلك مقدمي المحتويات الأخرى وكذلك بعض مقدمي الخدمات, مثل أولئك مقدمي معالجة المدفوعات نيابة عنا. هذه المواقع الأخرى ليست تحت سيطرتنا , وأنت توافق وتقر بأننا غير مسؤولين
         لجمع واستخدام معلوماتك الشخصية كجزء من زيارتك لهذه المواقع , ما لم ينص على خلاف ذلك في سياسة الخصوصية هذه. نحن نشجعكم على توخي الحذر عندما يتم توجيهكم إلى مواقع طرف ثالث من خلال هذا الموقع, ومراجعة سياسات خصوصية لكل موقع تزوره وتستخدمه.</p>


            <p class="en">We share the gathered information with Educational Institutes and we and the Educational Institutes may share this information (including Student Data) with a third party as follows:</p>
            <p class="he">אנו נחלוק את המידע שאנו אוספים עם מוסדות חינוך, ואנו ומוסדות החינוך עשויים לחלוק מידע זה (כולל נתוני הלומד) עם צד ג' כדלקמן:</p>
            <p class="ar">سنقوم بمشاركة المعلومات التي نجمعها مع المؤسسات التعليمية , وقد نشارك نحن والمؤسسات التعليمية هذه المعلومات (بما في ذلك بيانات المتعلم) مع طرف ثالث على النحو التالي:</p>


            <ul class="list-bulleted en">
              <li class="item">With service providers or contractors that perform certain actions in our name or in the name of the Educational Institutes, including processing of information you have provided us in the Website, processing of acquisitions and other transactions in the Website by way of third party suppliers, operation of the Website or parts of it, provision or management of courses, or in any connection to any other aspect of the Services we provide.</li>
              <li class="item">With other visitors to the Website, if you send reactions, homework or other information and contents (hereinafter collectively, "the Publications") to a part in the Website that was designated to public communication and to other members of your class, if you are sending Publications to a part of the Website that was designated to the eyes of these classmates. We may provide your Publications to students who will register to the same courses you take in the context of the forums, the courseware or any other context. If we republish your Publications that originally appeared in the non-public parts of the Website, we will do so without mentioning your real name and e-mail address (unless you explicitly approve publication of your details), but we would be entitled to use your Username without your consent.</li>
              <li class="item">For scientific research, especially, e.g. in area of cognitive studies and pedagogy. Nevertheless, we will share your personal information for this purpose only if this can be done in a lawful way and to the extent permissible by the law.</li>
              <li class="item">In order to provide you with opportunities to communicate with other users with similar areas of interest and learning objectives to yours. For instance, we may recommend certain study partners or establish contact between students who have the potential to mentor one another. In such cases, we may use the information we have gathered about you to determine who may be interested in communication with you, but will provide the other students nothing but your Username and will not reveal your real name or the e-mail address by which you could be contacted.</li>
              <li class="item">In response to a summons or to a court order, or for any other legal procedure; to investigate or prevent investigation, or to act in reaction to illegal activities, suspicion of fraud, or in view of security or technical problems, or to enforce our terms of service, code of honor or privacy policy as much as may be required in excess to the applicable law or to protect our rights, property and safety or of others.</li>
              <li class="item">With entities and organizations related to us or to the Educational Institutes and/or with which we or the Educational Institutes collaborate or with those that will come in our place, in the event that the management of this Website or any part of it will be transferred to any other third party for the purpose of provision of the Services by them in accordance with the terms of this privacy policy.</li>
              <li class="item">As will described before you upon collection of funds from you or following your authorization.</li>
              <li class="item">For integration with third party services. For instance, video clips and other content that would be uploaded to the YouTude website or others that are not under our control.</li>
            </ul>

            <ul class="list-bulleted he">
              <li class="item"> עם ספקי שירות או קבלנים שמבצעים פעולות מסוימות בשמנו או בשם מוסדות החינוך, כולל עיבוד מידע שסיפקתם לנו באתר, עיבוד רכישות ועסקאות אחרות באתר דרך ספקי צד ג', הפעלת האתר או חלקים ממנו, אספקת קורסים או ניהולם, או בכל קשר לכל היבט אחר של השירותים המוענקים על ידנו.</li>
              <li class="item"> עם מבקרים אחרים באתר, במידה שהנכם שולחים תגובות, שיעורי בית או מידע אחר ותכנים אחרים (יחדיו, "הפרסומים") לחלק באתר שיועד לתקשורת ציבורית; ולחברים אחרים בכיתה שאתם חברים בה, במידה שהנכם שולחים פרסומים לחלק באתר שיועד לעיונם של חברי כיתה אלה. אנחנו עשויים לספק את פרסומיכם לתלמידים שיירשמו לאותם קורסים שלמדתם, בהקשר של הפורומים, הלומדה או בכל הקשר אחר. אם אנו מפרסמים מחדש את פרסומיכם, שהופיעו במקור בחלקים הבלתי-ציבוריים של האתר, נפרסם אותם ללא שמכם האמיתי וכתובת הדוא"ל האמיתית שלכם (אלא אם תאשרו את פרסום פרטיכם במפורש), אך נוכל להשתמש בשם המשתמש שלכם ללא הסכמתכם.</li>
              <li class="item"> לצרכי מחקר מדעי, ובייחוד, לדוגמה, בתחומים של מדע הקוגניציה וחינוך. יחד עם זאת, אנו נחלוק את המידע האישי שלכם למטרה זו אך ורק במידה וניתן לעשות זאת על פי הדין ובמידה המותרת על פי הדין בלבד.</li>
              <li class="item"> על מנת לספק לכם הזדמנויות  לתקשר עם משתמשים אחרים בעלי תחומי עניין דומים לשלכם ומטרות לימוד דומות לשלכם. למשל, אנחנו עשויים להמליץ על שותפים מסוימים ללימוד או לקשר בין תלמידים עם פוטנציאל להיות מנטורים אחד של השני. במקרים כאלה, נוכל להשתמש במידע שאספנו עליכם כדי להכריע מי יהיה מעוניין בתקשורת עמכם, אך נספק לתלמידים אחרים רק את שם המשתמש שלכם, ולא נחשוף את שמכם האמיתי או את כתובת הדוא"ל שבה ניתן ליצור איתכם קשר.</li>
              <li class="item"> בתגובה לזימון לבית דין או לצו בית משפט, או עבור כל תהליך חוקי אחר; על מנת לחקור, או למנוע חקירה, או על מנת לפעול בתגובה לפעילויות בלתי-חוקיות, חשד להונאה, או לאור בעיות אבטחה או בעיות טכניות, או על מנת לאכוף את תנאי השירות שלנו, את קוד הכבוד שלנו או את מדיניות הפרטיות שלנו, ככל שיידרש מעבר לכך בדין החל, או על מנת להגן על זכויותינו, רכושנו ובטחוננו או של אחרים.</li>
              <li class="item"> עם גופים וארגונים הקשורים אלינו או למוסדות החינוך ו/או שעמם אנו או מוסדות החינוך משתפים פעולה, או עם אלו שיבואו במקומנו, במקרה שניהול אתר זה או כל חלק ממנו יועבר לצד שלישי אחר כלשהו, לצורך מתן השירותים על ידם, בהתאם לתנאי מדיניות פרטיות זו.</li>
              <li class="item"> כפי שיתואר בפניכם בעת גביית כספים ממכם או בהתאם להסכמתכם.</li>
              <li class="item"> לצורך אינטגרציה עם שירותי צד ג'. לדוגמה, סרטונים ותכנים נוספים שיועלו על גבי אתר YouTube או באתרים אחרים שאינם תחת שליטתנו.</li>
            </ul>

            <ul class="list-bulleted ar">
              <li class="item"> مع موفري الخدمة أو المقاولين الذين يقومون بأعمال معينة نيابة عنا أو بالنيابة عن المؤسسات التعليمية , بما في ذلك معالجة المعلومات التي تزودنا بها على الموقع , ومعالجة المشتريات والمعاملات الأخرى على الموقع من خلال موردين آخرين , تشغيل الموقع أو أجزاء منه أو توفير أو إدارة الدورات أو أي صلة بأي جانب آخر الخدمات المقدمة من قبلنا. </li>
              <li class="item"> مع زوار الموقع الآخرين, إلى الحد الذي ترسل فيه الردود أو الواجبات المنزلية أو غيرها من المعلومات والمحتويات الأخرى (مجتمعة , "المنشورات") إلى جزء من الموقع مخصص للاتصال العام; والأعضاء الآخرون في الفصل الذي كنت عضو فيه, في حالة إرسال منشورات إلى جزء من الموقع مخصص للنظر فيه من أعضاء الصف. قد نقوم بتوفير منشوراتك للطلاب الذين سيسجلون في الدورات التي تعلمتها , في سياق المنتديات أو الدورات الدراسية أو أي سياق آخر. إذا أعدنا نشر إعلاناتك التي ظهرت أصلاً في الأجزاء غير العامة من الموقع , سنقوم بنشرها بدون اسمك الحقيقي وعنوان بريدك الألكتروني الحقيقي (ما لم تؤكد نشر التفاصيل الخاصة بك بشكل واضح),  لكن يمكننا استخدام اسم المستخدم الخاص بك دون موافقتك.  </li>
              <li class="item"> لأغراض البحث العلمي, بشكل خاص, على سبيل المثال , في مجالات العلوم المعرفية والتعليم. ومع ذلك, سنقوم بمشاركة معلوماتك الشخصية لهذا الغرض فقط إذا كان يمكن القيام به بموجب القانون وإلى الحد الذي يسمح به القانون فقط. </li>
              <li class="item"> لتزويدك بفرص للتواصل مع المستخدمين الآخرين الذين لديهم اهتمامات مشابهة لأهدافك التعليمية وأهدافك التعليمية المشابهة لك. على سبيل المثال, ونحن قد نوصي بعض الشركاء بتعليم أو توصيل الطلاب بإمكانية أن يكونوا مرشدين لبعضهم البعض. في مثل هذه الحالات, يمكننا استخدام المعلومات التي نجمعها لتحديد الأشخاص الذين يرغبون في التواصل معك, ولكننا لن نوفر للطلاب اسم المستخدم الخاص بك فقط, ولن نكشف عن اسمك الحقيقي أو عنوان بريدك الإلكتروني للاتصال بك.  </li>
              <li class="item"> ردا على استدعاء إلى المحكمة أو أمر من المحكمة , أو لأي إجراء قانوني آخر; للتحقيق في أو منع التحقيق , أو للتصرف استجابة للأنشطة غير القانونية أو الاحتيال المشتبه به أو المشكلات الأمنية أو الفنية , أو في ضوء المسائل الأمنية أو الفنية , أو لتطبيق بنود الخدمة لدينا, ميثاق الشرف الخاصة بنا أو سياسة الخصوصية الخاصة بنا , بالقدر الذي يتطلبه القانون المعمول به,  أو لحماية حقوقنا وممتلكاتنا وأمننا أو حقوق الآخرين. </li>
              <li class="item"> مع الهيئات والمنظمات التابعة لنا أو المؤسسات التعليمية و/ أو التي نتعاون معها نحن أو المؤسسات التعليمية , أو مع أولئك الذين سوف يحلون مكاننا, في حالة نقل إدارة هذا الموقع أو أي جزء منه إلى أي طرف ثالث بغرض توفير الخدمات من قبله, وفقًا لشروط سياسة الخصوصية هذه.  </li>
              <li class="item"> كما سيتم توضيحه لك عند جباية الأموال منك أو وفقًا لموافقتك.</li>
              <li class="item"> لغرض التكامل مع خدمات طرف ثالث. على سبيل المثال, ومقاطع الفيديو والمحتويات الأخرى التي يتم تحميلها على موقع يوتيوب  YouTube أو غيرها من المواقع التي ليست تحت سيطرتنا.  </li>
            </ul>


            <p class="en instructions">
              <span>For your attention:</span>
              <span>We intend to share your Student Data with EdX.inc that provides or will provide us with hosting and other services as webite administrators.</span>
              <span>In accordance with a service provision agreement signed between us (the Headquarters for the National "Digital Israel" Initiative) and EdX.inc,</span>
            </p>
            <p class="he instructions">
              <span>לתשומת ליבכם:</span>
              <span>בכוונתנו לשתף ולחלוק נתוני הלומד אודותיכם עם חברת  EdX.inc, שמספקת או תספק לנו שירותי אירוח ושירותים אחרים כמנהל האתר.</span>
              <span>לפי הסכם למתן שירותים שנחתם ביננו (מטה המיזם הלאומי "ישראל דיגיטלית") לבין EdX.inc :</span>
            </p>
            <p class="ar instructions">
              <span>   الرجاء ملاحظة: </span>
              <span>نحن عازمون على تبادل المعلومات عنك ومشاركة بيانات المتعلم المزود أو مع شركة EdX.inc التي تقدم أو سوف تقدم لنا خدمات الاستضافة والخدمات الأخرى, بصفتها مسؤول عن الموقع. </span>
              <span> وفقا لاتفاقية توفير الخدمات الموقعة بيننا (مقر المشروع الوطني "إسرائيل الرقمية") وبين  EdX.inc   : </span>
            </p>

            <p class="en">"EdX shall use such Learner Data only to the extent required to in order to carry out tasks in compliance with this Agreement. EdX will ensure that it will not share Learner Data with any third parties unless edX has NDB written prior consent or that edX is required to share such information, provided that appropriate confidentiality and security measures are taken. EdX will comply with all applicable laws, policies, and regulations relating to its use of Learner Data."</p>
            <p class="he">"EdX תעשה שימוש בנתוני לומד כאלה רק במידה שהדבר הכרחי לצורך ביצוע המשימות בהתאם להסכם זה. EdX תבטיח שלא תחלוק את נתוני הלומד עם צד ג' אלא אם יש קיבלה אישור בכתב ומראש  ממטה ישראל דיגיטליתאו במקרה ש-EdX נדרשת לחלוק את המידע, וזאת
בתנאי שתנקוט אמצעי בטיחות וחשאיות ראויים. EdX תפעל על פי כל החוקים, כללי המדיניות והתקנות החלים עליה והנוגעים  לשימוש שהיא מבצעת בנתוני הלומד."</p>
            <p class="ar">"سوف تستخدم بيانات EDX المتعلم فقط بالقدر اللازم لتنفيذ مهام EdX بموجب هذه الاتفاقية.  سوف تضمن عدم مشاركة بيانات المتعلم الخاصة بك مع طرف ثالث ما لم تكن قد حصلت على إذن خطي مسبق من مقر إسرائيل الرقمية لمشاركة المعلومات بشرط أن تتخذ تدابير السلامة والسرية المناسبة  يجب أن تمتثل EDX لجميع القوانين المعمول بها والسرية , والسياسات واللوائح التي تنطبق عليها واستخدامها       في بيانات المتعلم."</p>

            <p class="en">The Website and data stored in it are stored in server farm of Amazon Web Services (AWS) in Dublin, Ireland. To review AWS's privacy policy and terms of use, visit <a href="https://aws.amazon.com/privacy" target="_blank" class="brand-link">https://aws.amazon.com/privacy/</a></p>
            <p class="he">האתר והנתונים המאוחסנים בו מאוחסנים בחוות השרתים (AWS) של Amazon בדבלין, אירלנד. לצורך עיון במדיניות הפרטיות ותנאי השימוש של AWS, גשו לכתובת:      <a href="https://aws.amazon.com/privacy" target="_blank" class="brand-link">https://aws.amazon.com/privacy/</a></p>
            <p class="ar"> يتم تخزين الموقع والبيانات المخزنة عليه في مزرعة خوادم  (AWS) في الأمازون في دبلن, أيرلندا. لمراجعة سياسة خصوصية AWS وشروط الاستخدام , يرجى الاتصال على العنوان: <a href="https://aws.amazon.com/privacy" target="_blank" class="brand-link">https://aws.amazon.com/privacy/</a></p>
            <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
          </div>


          <div id="publications">
            <h2 class="en">E. Official publications of the State of Israel</h2>
            <h2 class="he">ה. פרסומים רשמיים של מדינת ישראל</h2>
            <h2 class="ar">ﮪ.  المطبوعات الرسمية لدولة إسرائيل</h2>

            <div class="en">
              <p>Should there be a conflict or discrepancy between the material published in the Website and that appearing in official written publications of the State of Israel, the material in this official publications will be considered correct. In any event of conflict and/or discrepancy between the material displayed in this Service and another publication of the Ministry, the Ministry will determine which publication should be considered correct.</p>
            </div>
            <div class="he"><p>במידה שיש סתירה או אי-התאמה בין החומר המתפרסם באתר לבין החומר המופיע בפרסומים הרשמיים בכתב של מדינת ישראל, החומר בפרסומים רשמיים אלה ייחשב כנכון. בכל מקרה של סתירה ו/או אי התאמה בין החומר המוצג בשירות זה לבין פרסום אחר של המשרד, יקבע
המשרד איזה מן הפרסומים ייחשב כנכון.</p></div>
            <div class="ar"><p>في حالة وجود تناقض أو عدم توافق بين المواد المنشورة على الموقع والمواد التي تظهر في المطبوعات المكتوبة الرسمية لدولة إسرائيل, فإن المواد الواردة في هذه المطبوعات الرسمية ستعتبر صحيحة. في أي حالة من التناقض و/ أو عدم التوافق بين المواد المقدمة في هذه الخدمة وغيرها من المطبوعات التي تصدرها الوزارة, تحدد الوزارة أي المنشورات تعتبر صحيحة.</p></div>
            <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
          </div>

          <div id="cookies">
            <h2 class="en">F. Use of Cookie files</h2>
            <h2 class="he">שימוש בקבצי Cookies .ו</h2>
            <h2 class="ar">و "استخدام ملفات Cookies"</h2>

            <div class="en">

              <p>This Website use Google Analytics, a Google product assisting website owners understand the way customers are involved in their websites.
                When you visit this Website, your web browser automatically sends Google certain data. These data includes, among other things, the web address of the page you are visiting and your IP address.
                Google Analytics uses Cookie files, text files placed in the computer to help the website to analyze how users use the website. The information gathered by a Cookie file is transferred to Google servers where it is stored. Google uses this information to assess your use of the website and prepare reports on the website activity and Internet use for website owners.
                Google may also transfer the information to third parties when it is required to do so by the law or when a third party processes the information for Google. Google will not attribute the IP address to other information in its possession.</p>

              <p>Use of Cookie files can be cancelled by selecting the appropriate option in the browser's settings, but in such a case, it is possible that some of the information appearing in the Website will not be available.</p>
              <p>For further information on the way to cancel sending information to Google Analytics</p>
              <p>Surfing to this Website constitutes your consent to the information gathering by Google in the way and for the purposes aforementioned.</p>
            </div>
            <div class="he">
              <p>
אתר זה משתמש בגוגל אנליטיקס, מוצר של גוגל שעוזר לבעלי אתרים להבין את אופן המעורבות של לקוחות באתרים שלהם.
כאשר אתם מבקרים באתר זה הדפדפן שלכם שולח נתונים מסוימים ל-Google באופן אוטומטי. נתונים אלה כוללים, בין היתר, את כתובת האינטרנט של הדף שבו אתם מבקרים ואת כתובת ה-IP שלכם.
גוגל אנליטיקס משתמשים בקבצי "Cookies", קבצי טקסט המוצבים על המחשב במטרה לסייע לאתר לנתח כיצד המבקרים משתמשים באתר. האינפורמציה שנאספת דרך קובץ ה-"Cookies" מועברת ונשמרת בשרתי גוגל. גוגל משתמשת במידע זה כדי להעריך את השימוש שלך
באתר, עריכת דוחות על פעילות האתר ועל השימוש באינטרנט בשביל מנהלי אתרים.
גוגל עלולה גם להעביר את המידע לצד שלישי, כאשר היא נדרשת לכך מתוקף חוק, או כאשר צד שלישי מעבד את המידע בשביל גוגל. גוגל לא תשייך את כתובת ה-IP עם מידע אחר שיש לגוגל.
              </p>
              <p>
ניתן לבטל את השימוש בקבצי "Cookies" על ידי בחירת האפשרות המתאימה בהגדרות הדפדפן, אולם במקרה כזה יתכן ולא כל המידע המופיע באתר יהיה זמין.
              </p>
              <p>
למידע נוסף על אופן ביטול שליחת מידע ל-Google Analytics
              </p>
              <p>
גלישה באתר זה מהווה את הסכמתך לאיסוף המידע על ידי גוגל באופן ולמען השימושים שצוינו לעיל.
              </p>
            </div>
            <div class="ar">
              <p>
يستخدم هذا الموقع تحليل ݘوݘل, وهو أحد منتجات  ݘوݘل التي  وتساعد أصحاب مواقع الويب على فهم كيفية تفاعل الزائرين مع مواقعهم. عندما تزور هذا الموقع, يرسل متصفحك تلقائيا بيانات معينة إلى Google.   تتضمن هذه البيانات، من بين أمور أخرى, عنوان الويب الخاص بالصفحة التي تزورها وعنوان IP الخاص بك. -  يستخدم تحليل ݘوݘل "ملفات  Cookies"", والملفات النصية الموضوعة على جهاز الكمبيوتر لمساعدة الموقع في تحليل كيفية استخدام الزائرين للموقع. يتم نقل المعلومات التي يتم جمعها من خلال ملفات "Cookies" وتخزينها على خوادم  ݘوݘل. تستخدم  ݘوݘل هذه المعلومات لتقييم استخدامك للموقع, وتعديل التقارير حول نشاط موقع الويب, واستخدام الإنترنت بالنسبة لمشرفي المواقع. يحق لشركة ݘوݘل أيضا نقل هذه المعلومات إلى أطراف ثالثة عندما طلب منها ذلك بموجب القانون أو إذا كان طرف ثالث يقوم بمعالجة المعلومات لصالح  ݘوݘل. لن تقوم ݘوݘل بربط عنوان IP الخاص بك مع غيرها من المعلومات الموجودة لدى جوجل. 
              </p>
              <p>

    يمكنك تعطيل استخدام ملفات "Cookies" عن طريق تحديد الخيار المناسب في إعدادات المتصفح الخاص بك , ولكن في هذه الحالة قد لا تكون كافة المعلومات الموجودة على الموقع متوفرة. 

              </p>
              <p>

  لمزيد من المعلومات حول كيفية إلغاء إرسال المعلومات إلى برنامج-  Google Analytics 

              </p>
              <p>

  يمثل تصفح هذا الموقع موافقتك على جمع المعلومات بواسطة  ݘوݘل  بالطريقة وللأغراض المحددة أعلاه. 
 
              </p>
            </div>
            <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
          </div>

          <!-- TODO: continue adding the new text (including new headers), from here on. The TOC is already right and contains all new sections, so take titles from there -->


          <!-- TODO delete the „responsibilities“ part since it doesn't appear in the new TOS (it's subsumed by „warranty“) -->
          <div id="responsibilities">
            <div class="he">
              <h2>אחריות</h2>
              <p>השירות מוצע לציבור "כמות שהוא" ("‎AS IS"). </p>
              <p>מדינת ישראל לא תישא באחריות להתאמת השירות לצורכי המשתמש. כמו כן, לא תישא מדינת ישראל באחריות לטעויות או לשגיאות בחומר המוצג בשירות. </p>
              <p>מדינת ישראל לא תישא באחריות לשינויים שנעשו בחומר המוצג בשירות על ידי המשתמש או על ידי כל צד ג'. </p>
              <p>המשתמש בלבד יישא באחריות לאופן שבו הוא עושה שימוש בשירות. </p>
              <p>מדינת ישראל לא תישא באחריות לכל נזק שנגרם למשתמש או לכל צד ג' כתוצאה ישירה או עקיפה מן השימוש בשירות, לרבות נזק שנגרם עקב השימוש ביישומי תוכנה שהורדו ישירות באמצעות השירות או הופעלו כתוצאה מהשימוש בשירות. לעניין סעיף זה, "מדינת ישראל", לרבות עובדיה ונציגיה.</p>
              <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
            </div>

            <div class="ar">
              <h2 id="">المسؤولية</h2>
              <p>الخدمات تعرض للجمهور "كما هي ("‎AS IS") ."</p>
              <p>دولة إسرائيل لا تتحمل مسؤولية ملاءمة الخدمات لاحتياجات المستخدم. كذلك، لا تتحمل دولة إسرائيل مسؤولية أغلاط أو أخطاء بالمواد المعروضة في الخدمات.</p>
              <p>دولة إسرائيل لا تتحمل مسؤولية التغييرات التي أجريت على المواد المعروضة في الخدمات من قبل مستخدم أو من قبل طرف ثالث أياً كان.</p>
              <p>المستخدم فقط يتحمل المسؤولية عن كيفية استخدامه للخدمات.</p>
              <p>دولة إسرائيل لا تتحمل مسؤولية لأي ضرر حدث للمستخدم أو لأي طرف ثالث كنتيجة مباشرة أو غير مباشرة لاستخدامه الخدمات، بما في ذلك ضرر حدث نتيجة استخدام تطبيقات البرنامج الذي قام بتنزيله بواسطة الخدمات أو تم تشغيله نتيجة استخدامه للخدمات. بموضوع هذا البند، "دولة إسرائيل"، بما في ذلك عمالها ومندوبيها.</p>
              <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
            </div>
          </div>

          <div id="queries">
            <div class="en">
              <h2>QUERIES</h2>
              <p>Any questions about this service, or about the activities of the office, may be sent directly to the office by e-mail, at the following address: <a href="mailto:support@campus.gov.il" class="brand-link">support@campus.gov.il.</a></p>
              <p>Answers will be given as soon as possible, but no later 14 days from receipt than of the query.</p>
            </div>

            <div class="he">
              <h2 id="">פניות בנוגע לאתר או השירות</h2>
              <p> בכל פניה או שאלה הנוגעת לפעילות האתר, ניתן לפנות באמצעות כתובת הדוא"ל <a href="mailto:support@campus.gov.il" class="brand-link">support@campus.gov.il.</a></p>
            </div>

            <div class="ar">
              <h2>توجهات تتعلق بالموقع أو بالخدمات</h2>
              <p> بكل توجه أو سؤال يتعلق بفعاليات الموقع، يمكن التوجه عبر البريد الالكتروني بالعنوان
              <a href="mailto:support@campus.gov.il" class="brand-link">support@campus.gov.il.</a></p>
            </div>
            <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<%block name="js_extra">
  <script src="${static.url('js/animation-scroll.js')}"></script>
  <script type="text/javascript">
      $(".${LANGUAGE_CODE}").css('display', 'block');
      $(".page-heading h1").css('display', 'none');
      $(".page-heading h1.${LANGUAGE_CODE}").css('display', 'table-cell');
      $(".list-divided .item").css('display', 'none');
      $(".list-divided .item.${LANGUAGE_CODE}").css('display', 'list-item');
  </script>

</%block>
